<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
    <div class="container">
        <h2 class="title">
            Get Living Water
            <br />
             Today
        </h2>
        <p>
            Experience the purity and vitality of living water today. Contact us to get started on your journey to a healthier, more hydrated life.
        </p>
        <a href="/contact" class="cs-button-solid">Contact Us</a>
    </div>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/mountainwater.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/mountainwater.webp">
        <img aria-hidden="true" decoding="async" src="/assets/images/mountainwater.webp" alt="mountains" loading="lazy">
    </picture>

</section>