<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
    <div class="container">
        <h2 class="title">
            Get Real Water
            <br />
             Today
        </h2>
        <p>
            Say something catchy, informative, and encouraging to click the button to go to the contact page. I like to add these to the bottom of all pages.
        </p>
        <a href="/contact" class="cs-button-solid">Buy Today!</a>
    </div>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/mountainwater.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/mountainwater.webp">
        <img aria-hidden="true" decoding="async" src="/assets/images/mountainwater.webp" alt="mountains" loading="lazy">
    </picture>

</section>