<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a class="logo" href="/"><img loading="lazy" decoding="async" src="/assets/images/simplywater_Transparent_MWOT.svg" alt="logo" width="264" height="78"></a>
            <p>
                
            </p>
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2 id="info">Information</h2>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/faq">FAQ</a>
                    </li>
                   <!--  <li>
                        <a href="/projects">Projects</a>
                    </li> -->
                    <li>
                        <a href="/blog">Blog</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2 id="products">Products</h2>
                    </li>
                    <li><a href="/SimplyWater">SimplyWater</a></li>
                    <li><a href="/RiverOfLifeVortex">River of Life Vortex</a></li>
                    <li><a href="/Biodynamizer">Biodynamizer</a></li>
                    <li><a href="/NaturalSof">NaturalSof</a></li>
                </ul>
                <ul>
                    <li>
                        <h2 id="contact">Contact</h2>
                    </li>
                   <!--  <li> -->
                        <li>
                            <a href="/" target="_blank">Google?</a>
                        </li>
                        <li>
                            <a href="/" target="_blank">Pinterest</a>
                        </li>
                        <li>
                            <a href="/" target="_blank">Linkedin</a>
                        </li>
                        <li>
                            <a href="/" target="_blank">Facebook</a>
                            </li>
                        <!-- <a href="/contact">
                            {{client.address.lineOne}}<br>
                            {{client.address.lineTwo}}<br>
                            {{client.address.city}}
                            {{client.address.state}}
                            {{client.address.zip}}
                        </a> -->
                    <!-- </li> -->
                   <!--  <li>
                        <a href="tel:{{client.phoneForTel}}">
                            T:
                            {{client.phoneFormatted}}
                        </a>
                    </li> -->
                    <li>
                        <a href="/contact">Message Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="credit">
        <span>Created by</span>
        <a href="https://springhillwebdesigns.com" target="_blank">Spring Hill Web Designs</a>
        <span class="copyright"> Copyright 2023 - Present</span>
    </div>
</footer>