---
title: 'FAQ'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'faq/'
eleventyNavigation:
    key: FAQ
    order: 400
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/faq.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Frequently Asked Questions</h1>
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/waterfall.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/waterfall.webp">
            <img aria-hidden="true" decoding="async" src="/assets/images/waterfall.webp" alt="new home" width="2500" height="1667" loading="eager">
        </picture>
    </section>

<!-- ============================================ -->
<!--                     FAQ                      -->
<!-- ============================================ -->

<section id="faq-351">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper"></span>
            <h2 class="cs-title">FAQ</h2>
        </div>
        <ul class="cs-faq-group">
            <!-- Active class added as default -->
            <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        How long will my h2opure system last?
                    </span>
                </button>
                <p class="cs-item-p">
                    On average, your system will continue being effective for 1,500,000 gallons 
                </p>
            </li>
            <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        What if I’m on a well?
                    </span>
                </button>
                <p class="cs-item-p">
                    Wells require a water test. We can often help you find the solution you’re looking for based on those results. Please contact us for more details.
                </p>
            </li>
            <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        Is there any maintenance on the system?
                    </span>
                </button>
                <p class="cs-item-p">
                    The only maintenance required is a periodic changing of the pre-filter. We utilize a 1 Micron filter made in the USA to
                    prevent dirt and silt from entering the tank itself, thereby protecting your investment and eliminating the need for a
                    backwash system which requires power and water waste.
                </p>
            </li>
            <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        Does this system filter out fluoride?
                    </span>
                </button>
                <p class="cs-item-p">
                    Yes, fluoride is addressed using a bone char carbon which possesses a hydroxyapatite structure capable of neutralizing
                    the fluoride in your water. Other forms of fluoride filtration are derived from aluminum, but we feel the trade off is
                    not worth it so we utilize an organic material instead.
                </p>
            </li>
            <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        How much does installation cost?
                    </span>
                </button>
                <p class="cs-item-p">
                    For our local customers, we recommend using Brentwood Star master plumbing for install. Prices can vary depending on the
                    system, but it’s safe to budget $1,000 for installation by a certified plumber. The system can be installed yourself,
                    but we do not warranty the system if installed outside of the protocol.
                </p>
            </li>
        </ul>
        <!--Added second UL, this allows you to open an FAQ item on each side without messing up the flexbox for the other -->
        <ul class="cs-faq-group">
            <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        How long should the Biodynamizer and River of Life last?
                    </span>
                </button>
                <p class="cs-item-p">
                    These products are warrantied for 10yrs, but should last a lifetime if treated properly. If you move, they are easily brought with you.
                </p>
            </li>
            <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        What do I do when my filtration system has reached end of life?
                    </span>
                </button>
                <p class="cs-item-p">
                    The most cost effective way to address this is to remove the tank from the fittings and replace with a new one. You can
                    dispose of the tank at a local disposal facility. The system can have replacement media added, but for the cost and time
                    it may not be worth the hassle. Contact us when the time comes and we can help you.
                </p>
            </li>
          <!--  <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        How long should a house cleaning take?
                    </span>
                </button>
                <p class="cs-item-p">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                </p>
            </li>
             <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        How much are house cleaning services?
                    </span>
                </button>
                <p class="cs-item-p">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                </p>
            </li>
            <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        Can cleanings be scheduled?
                    </span>
                </button>
                <p class="cs-item-p">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                </p>
            </li> -->
        </ul>
    </div>
</section>
                                

    {% include 'components/cta.html' %}

{% endblock %}