/* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0em) {
  #sbs {
    padding: var(--sectionPadding);
    background-color: #1a1a1a;
  }
  #sbs .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 2.5rem;
  }
  #sbs .cs-left {
    /* scaling the font size with the view width */
    font-size: min(2.31vw, .7em);
    /* using ems so we can use font size to scale the whole section */
    width: 39.4375em;
    height: 39.75em;
    position: relative;
  }
  #sbs .cs-picture {
    border-radius: 1.5em;
    /* clips img tag corners */
    overflow: hidden;
    position: absolute;
    display: block;
  }
  #sbs .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* makes image act like a background image */
    object-fit: cover;
  }
  #sbs .cs-picture1 {
    width: 32.625em;
    height: 36.3125em;
    left: 0;
    top: 0;
  }
  #sbs .cs-picture2 {
    width: 25.875em;
    height: 25em;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px;
    /* 6px - 12px */
    border: clamp(0.375em, 1.5vw, 0.75em) solid #fff;
    right: 0;
    bottom: 0;
  }
  #sbs .cs-right {
    margin: auto;
    max-width: 33.875rem;
  }
  #sbs .cs-topper {
    text-align: left;
    margin-bottom: 0.25rem;
  }
  #sbs .cs-title {
    text-align: left;
    max-width: 50rem;
  }
  #sbs .cs-text {
    text-align: left;
    max-width: 46.875rem;
    margin-bottom: 1rem;
  }
  #sbs .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs .cs-flex-group {
    /* 16px - 32px */
    padding: clamp(1rem, 3vw, 2rem);
    background-color: #f7f7f7;
    border-radius: 1rem;
    position: relative;
  }
  #sbs .cs-flex-p {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    margin: 0 0 1rem;
    color: #353535;
  }
  #sbs .cs-name {
    font-size: 1rem;
    line-height: 1.2em;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 0 0.25rem;
    color: var(--headerColor);
    display: block;
  }
  #sbs .cs-job {
    font-size: 0.875rem;
    line-height: 1.5em;
    color: #353535;
    display: block;
  }
  #sbs .cs-quote-icon {
    /* 60px - 136px */
    width: clamp(3.75rem, 10vw, 8.5rem);
    height: auto;
    position: absolute;
    bottom: 0rem;
    /* 16px - 32px */
    right: clamp(1rem, 4vw, 2rem);
  }
  #sbs .cs-button-solid {
    margin-top: 2rem;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64em) {
  #sbs .cs-container {
    flex-flow: row;
    justify-content: space-between;
    gap: 3.25rem;
  }
  #sbs .cs-left {
    font-size: min(1.2vw, 1em);
    flex: none;
  }
  #sbs .cs-right {
    margin: 0;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0em) {
  body.dark-mode #sbs .cs-left:before,
  body.dark-mode #sbs .cs-left:after {
    background: var(--accent);
  }
  body.dark-mode #sbs .cs-picture2 {
    background-color: var(--dark);
    /* 6px - 12px */
    border: clamp(0.375em, 1.5vw, 0.75em) solid var(--dark);
  }
  body.dark-mode #sbs .cs-topper {
    color: var(--primaryLight);
  }
  body.dark-mode #sbs .cs-title,
  body.dark-mode #sbs .cs-text,
  body.dark-mode #sbs .cs-h3,
  body.dark-mode #sbs .cs-flex-p,
  body.dark-mode #sbs .cs-name {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #sbs .cs-flex-group {
    background-color: var(--accent);
  }
  body.dark-mode #sbs .cs-job {
    color: var(--bodyTextColorWhite);
    opacity: 0.8;
  }
  body.dark-mode #sbs .cs-quote-icon {
    opacity: 0.2;
  }
}
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0em) {
  #sbs-r {
    padding: var(--sectionPadding);
  }
  #sbs-r .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 2.5rem;
  }
  #sbs-r .cs-left {
    /* scaling the font size with the view width */
    font-size: min(2.31vw, .7em);
    /* using ems so we can use font size to scale the whole section */
    width: 39.4375em;
    height: 39.75em;
    position: relative;
  }
  #sbs-r .cs-picture {
    border-radius: 1.5em;
    /* clips img tag corners */
    overflow: hidden;
    position: absolute;
    display: block;
  }
  #sbs-r .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* makes image act like a background image */
    object-fit: cover;
  }
  #sbs-r .cs-picture1 {
    width: 32.625em;
    height: 36.3125em;
    right: 0;
    top: 0;
  }
  #sbs-r .cs-picture2 {
    width: 25.875em;
    height: 25em;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px;
    /* 6px - 12px */
    border: clamp(0.375em, 1.5vw, 0.75em) solid #fff;
    left: 0;
    bottom: 0;
  }
  #sbs-r .cs-right {
    margin: auto;
    max-width: 33.875rem;
  }
  #sbs-r .cs-topper {
    text-align: left;
    margin-bottom: 0.25rem;
  }
  #sbs-r .cs-title {
    text-align: left;
    max-width: 50rem;
  }
  #sbs-r .cs-text {
    text-align: left;
    max-width: 46.875rem;
    margin-bottom: 1rem;
  }
  #sbs-r .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs-r .cs-flex-group {
    /* 16px - 32px */
    padding: clamp(1rem, 3vw, 2rem);
    background-color: #f7f7f7;
    border-radius: 1rem;
    position: relative;
  }
  #sbs-r .cs-flex-p {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    margin: 0 0 1rem;
    color: #353535;
  }
  #sbs-r .cs-name {
    font-size: 1rem;
    line-height: 1.2em;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 0 0.25rem;
    color: var(--headerColor);
    display: block;
  }
  #sbs-r .cs-job {
    font-size: 0.875rem;
    line-height: 1.5em;
    color: #353535;
    display: block;
  }
  #sbs-r .cs-quote-icon {
    /* 60px - 136px */
    width: clamp(3.75rem, 10vw, 8.5rem);
    height: auto;
    position: absolute;
    bottom: 0rem;
    /* 16px - 32px */
    right: clamp(1rem, 4vw, 2rem);
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64em) {
  #sbs-r .cs-container {
    flex-flow: row;
    justify-content: space-between;
    gap: 3.25rem;
  }
  #sbs-r .cs-left {
    font-size: min(1.2vw, 1em);
    flex: none;
    /* sends it to the right */
    order: 2;
  }
  #sbs-r .cs-right {
    margin: 0;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0em) {
  body.dark-mode #sbs-r .cs-left:before,
  body.dark-mode #sbs-r .cs-left:after {
    background: var(--accent);
  }
  body.dark-mode #sbs-r .cs-picture2 {
    background-color: var(--dark);
    /* 6px - 12px */
    border: clamp(0.375em, 1.5vw, 0.75em) solid var(--dark);
  }
  body.dark-mode #sbs-r .cs-topper {
    color: var(--primaryLight);
  }
  body.dark-mode #sbs-r .cs-title,
  body.dark-mode #sbs-r .cs-text,
  body.dark-mode #sbs-r .cs-h3,
  body.dark-mode #sbs-r .cs-flex-p,
  body.dark-mode #sbs-r .cs-name {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #sbs-r .cs-flex-group {
    background-color: var(--accent);
  }
  body.dark-mode #sbs-r .cs-job {
    color: var(--bodyTextColorWhite);
    opacity: 0.8;
  }
  body.dark-mode #sbs-r .cs-quote-icon {
    opacity: 0.2;
  }
}
/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/
/* Mobile - 360px - Contains hover animation */
@media only screen and (min-width: 0em) {
  #gallery {
    /* Centers button */
    text-align: center;
    padding: var(--sectionPadding);
    position: relative;
    /* Prevents overflow from the image going off screen */
    overflow: hidden;
  }
  #gallery .cs-container {
    width: 100%;
    max-width: 82.625em;
    margin: auto;
  }
  #gallery .cs-topper {
    text-align: center;
    margin-bottom: 1rem;
  }
  #gallery .cs-title {
    text-align: center;
    max-width: 38.8125rem;
    margin-bottom: 2.5rem;
  }
  #gallery .cs-image-group {
    /* used rem so it doesn't scale with the font size of on parent */
    font-size: min(1.1vw, 1em);
    width: 100%;
    max-width: 82.625em;
    padding: 0;
    margin: 0 auto 3.75rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1.875em;
  }
  #gallery .cs-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.875em;
  }
  #gallery .cs-picture {
    position: relative;
    display: block;
  }
  #gallery .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #gallery .cs-row-1 .cs-picture1 {
    width: 26.25em;
    height: 35.4375em;
  }
  #gallery .cs-row-1 .cs-picture2 {
    width: 26.25em;
    height: 39.3125em;
  }
  #gallery .cs-row-1 .cs-picture3 {
    width: 26.25em;
    height: 32em;
  }
  #gallery .cs-row-2 .cs-picture1 {
    width: 26.25em;
    height: 30.75em;
  }
  #gallery .cs-row-2 .cs-picture2 {
    width: 26.25em;
    height: 32.3125em;
  }
  #gallery .cs-row-2 .cs-picture3 {
    width: 26.25em;
    height: 39.3125em;
  }
  #gallery .cs-row-3 .cs-picture1 {
    width: 26.25em;
    height: 39.0625em;
  }
  #gallery .cs-row-3 .cs-picture2 {
    width: 26.25em;
    height: 28.25em;
  }
  #gallery .cs-row-3 .cs-picture3 {
    width: 26.25em;
    height: 39.3125em;
  }
}
/* Dark mode */
@media only screen and (min-width: 0em) {
  body.dark-mode #gallery .cs-title {
    color: var(--bodyTextColorWhite);
  }
}
/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0em) {
  #reviews {
    /* Centers the button */
    text-align: center;
    padding: var(--sectionPadding);
  }
  #reviews .cs-container {
    width: 100%;
    max-width: 69rem;
    margin: auto;
  }
  #reviews .cs-topper {
    text-align: center;
    margin-bottom: 1rem;
  }
  #reviews .cs-title {
    text-align: center;
    max-width: 43.75rem;
  }
  #reviews .cs-text {
    text-align: center;
    max-width: 40.625rem;
    /* 88px - 104px */
    margin-bottom: clamp(5.5em, 10.2vw, 6.5em);
  }
  #reviews .cs-card-group {
    padding: 0;
    /* 48px - 64px */
    margin: 0 auto clamp(3rem, 5vw, 4rem);
  }
  #reviews .cs-item {
    text-align: left;
    list-style: none;
    width: 100%;
    max-width: 33.875rem;
    margin: 0 auto 4rem;
    /* Padding L & R - 16px - 32px */
    padding: 3.75rem clamp(1rem, 3.2vw, 2rem) 0;
    /* 32px - 40px */
    padding-bottom: clamp(2rem, 5.4vw, 2.5rem);
    box-shadow: 0px 20px 39px 0px rgba(0, 0, 0, 0.05);
    border-radius: 0.25rem;
    background: #fff;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    /* Prevents padding from affecting height & width */
    box-sizing: border-box;
  }
  #reviews .cs-item:last-of-type {
    margin-bottom: 0;
  }
  #reviews .cs-item-img {
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: -2.5rem;
  }
  #reviews .cs-item-p {
    font-size: 1rem;
    line-height: 1.5em;
    margin: 0 0 1.25rem;
    padding-bottom: 1.25rem;
    color: var(--bodyTextColor);
    border-bottom: 1px solid #e8e9ec;
  }
  #reviews .cs-reviewer {
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 700;
    width: 40%;
    margin: 0 auto 0 0;
    display: block;
    color: var(--headerColor);
  }
  #reviews .cs-desc {
    font-size: 0.875rem;
    font-weight: 400;
    color: var(#353535);
    display: block;
  }
  #reviews .cs-item-stars {
    width: 6rem;
    height: 1rem;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48em) {
  #reviews .cs-card-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  #reviews .cs-item {
    /* reset margin so it won't interfere with flexbox */
    margin: 0;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0em) {
  body.dark-mode #reviews .cs-title,
  body.dark-mode #reviews .cs-text,
  body.dark-mode #reviews .cs-item-p,
  body.dark-mode #reviews .cs-reviewer {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #reviews .cs-item {
    background: var(--medium);
  }
  body.dark-mode #reviews .cs-desc {
    color: var(--primaryLight);
  }
}
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #RTsbs-952,
  #RTsbsr-952,
  #RTsbst-952 {
    /* remove the font family so the Stitch inherits the fonts from your global stylesheet */
    padding: var(--sectionPadding);
    /* clips anything overflowing */
    overflow: hidden;
    position: relative;
  }
  #RTsbs-952 .cs-container,
  #RTsbsr-952 .cs-container,
  #RTsbst-952 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #RTsbs-952 .cs-content,
  #RTsbsr-952 .cs-content,
  #RTsbst-952 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 33.875rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #RTsbs-952 .cs-topper,
  #RTsbsr-952 .cs-topper,
  #RTsbst-952 .cs-topper {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: inherit;
    letter-spacing: 0.1em;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 0.25rem;
    display: block;
  }
  #RTsbs-952 .cs-title,
  #RTsbsr-952 .cs-title,
  #RTsbst-952 .cs-title {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    max-width: 43.75rem;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
    position: relative;
  }
  #RTsbs-952 .cs-text,
  #RTsbsr-952 .cs-text,
  #RTsbst-952 .cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: 40.625rem;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #RTsbs-952 .cs-text,
  #RTsbsr-952 .cs-text,
  #RTsbst-952 .cs-text {
    /* Override.  cs-topper cs-title and first cs-text should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This selector is a section specific override that stays inside this stitch */
    margin-bottom: 1rem;
  }
  #RTsbs-952 .cs-text:last-of-type,
  #RTsbsr-952 .cs-text:last-of-type,
  #RTsbst-952 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #RTsbs-952 .cs-button-solid,
  #RTsbsr-952 .cs-button-solid,
  #RTsbst-952 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    /* line-height: clamp(2.875rem, 5.5vw, 3.5rem); */
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 2rem;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #RTsbs-952 .cs-button-solid:before,
  #RTsbsr-952 .cs-button-solid:before,
  #RTsbst-952 .cs-button-solid:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #RTsbs-952 .cs-button-solid:hover:before,
  #RTsbsr-952 .cs-button-solid:hover:before,
  #RTsbst-952 .cs-button-solid:hover:before {
    width: 100%;
  }
  #RTsbs-952 .cs-contact-group,
  #RTsbsr-952 .cs-contact-group,
  #RTsbst-952 .cs-contact-group {
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.75rem;
  }
  #RTsbs-952 .cs-link,
  #RTsbsr-952 .cs-link,
  #RTsbst-952 .cs-link {
    text-decoration: none;
    padding-right: 1.875rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    position: relative;
  }
  #RTsbs-952 .cs-link:hover:before,
  #RTsbsr-952 .cs-link:hover:before,
  #RTsbst-952 .cs-link:hover:before {
    width: 100%;
    height: 3.5em;
  }
  #RTsbs-952 .cs-link:hover .cs-wrapper,
  #RTsbsr-952 .cs-link:hover .cs-wrapper,
  #RTsbst-952 .cs-link:hover .cs-wrapper {
    transform: scale(1.2);
  }
  #RTsbs-952 .cs-link:hover .cs-icon,
  #RTsbsr-952 .cs-link:hover .cs-icon,
  #RTsbst-952 .cs-link:hover .cs-icon {
    transform: translateX(7/16rem);
  }
  #RTsbs-952 .cs-link:before,
  #RTsbsr-952 .cs-link:before,
  #RTsbst-952 .cs-link:before {
    /* light green circle that animates on hover */
    content: '';
    width: 3rem;
    height: 3rem;
    background: #EFF1F0;
    opacity: 1;
    position: absolute;
    display: block;
    top: 50%;
    left: 0;
    z-index: -1;
    transform: translateY(-50%);
    transition: width 0.3s, height 0.3s, border-radius 0.3s;
  }
  #RTsbs-952 .cs-wrapper,
  #RTsbsr-952 .cs-wrapper,
  #RTsbst-952 .cs-wrapper {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* prevents flexbox from squishing it */
    flex: none;
    transition: transform 0.3s;
  }
  #RTsbs-952 .cs-icon,
  #RTsbsr-952 .cs-icon,
  #RTsbst-952 .cs-icon {
    width: 1.5rem;
    height: auto;
    display: block;
    transition: transform 0.3s;
  }
  #RTsbs-952 .cs-info,
  #RTsbsr-952 .cs-info,
  #RTsbst-952 .cs-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;
  }
  #RTsbs-952 .cs-header,
  #RTsbsr-952 .cs-header,
  #RTsbst-952 .cs-header {
    font-size: 1rem;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
    color: var(--headerColor);
    display: block;
  }
  #RTsbs-952 .cs-link-content,
  #RTsbsr-952 .cs-link-content,
  #RTsbst-952 .cs-link-content {
    font-size: 1rem;
    line-height: 1.2em;
    font-weight: 400;
    margin: 0;
    color: var(--bodyTextColor);
    display: block;
  }
  #RTsbs-952 .cs-image-group,
  #RTsbsr-952 .cs-image-group,
  #RTsbst-952 .cs-image-group {
    /* scales the whole section down and ties the font size to the vw and stops at 75% of the vale of 1em, changes at desktop */
    font-size: min(2.24vw, .844em);
    /* everything inside this box is in ems so we can scale it all down proportionally with a font size */
    width: 40.625em;
    height: 42.9375em;
    position: relative;
    z-index: 1;
  }
  #RTsbs-952 .cs-picture,
  #RTsbsr-952 .cs-picture,
  #RTsbst-952 .cs-picture {
    /* clips the image to match the border radius of the cs-picture */
    overflow: hidden;
    display: block;
    position: absolute;
  }
  #RTsbs-952 .cs-picture img,
  #RTsbsr-952 .cs-picture img,
  #RTsbst-952 .cs-picture img {
    width: 100%;
    height: 100%;
    /* makes it act like a background image */
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #RTsbs-952 .cs-picture1,
  #RTsbsr-952 .cs-picture1,
  #RTsbst-952 .cs-picture1 {
    width: 21.8125em;
    height: 36.875em;
    top: 3.0625em;
    left: 0;
  }
  #RTsbs-952 .cs-picture2,
  #RTsbsr-952 .cs-picture2,
  #RTsbst-952 .cs-picture2 {
    width: 17.5625em;
    height: 24.1875em;
    top: 0;
    right: 0;
  }
  #RTsbs-952 .cs-picture3,
  #RTsbsr-952 .cs-picture3,
  #RTsbst-952 .cs-picture3 {
    width: 17.5625em;
    height: 17.5em;
    bottom: 0;
    right: 0;
  }
  #RTsbs-952 .cs-seal,
  #RTsbsr-952 .cs-seal,
  #RTsbst-952 .cs-seal {
    width: 12.375em;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -40%);
  }
  #RTsbs-952 .cs-floater,
  #RTsbsr-952 .cs-floater,
  #RTsbst-952 .cs-floater {
    display: none;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #RTsbs-952 .cs-container,
  #RTsbsr-952 .cs-container,
  #RTsbst-952 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #RTsbs-952 .cs-image-group,
  #RTsbsr-952 .cs-image-group,
  #RTsbst-952 .cs-image-group {
    /* set to inherit at Large Desktop */
    font-size: min(1.15vw, 1em);
    margin: 0;
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #RTsbs-952 .cs-content,
  #RTsbsr-952 .cs-content,
  #RTsbst-952 .cs-content {
    width: 51%;
  }
}
/* Large Desktop - 1800px */
@media only screen and (min-width: 112.5rem) {
  #RTsbs-952 .cs-floater,
  #RTsbsr-952 .cs-floater,
  #RTsbst-952 .cs-floater {
    width: 27.8125rem;
    height: auto;
    display: block;
    position: absolute;
    right: 0;
    top: 1.25rem;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #RTsbs-952 .cs-title,
  body.dark-mode #RTsbsr-952 .cs-title,
  body.dark-mode #RTsbst-952 .cs-title,
  body.dark-mode #RTsbs-952 .cs-text,
  body.dark-mode #RTsbsr-952 .cs-text,
  body.dark-mode #RTsbst-952 .cs-text,
  body.dark-mode #RTsbs-952 .cs-header,
  body.dark-mode #RTsbsr-952 .cs-header,
  body.dark-mode #RTsbst-952 .cs-header,
  body.dark-mode #RTsbs-952 .cs-link-content,
  body.dark-mode #RTsbsr-952 .cs-link-content,
  body.dark-mode #RTsbst-952 .cs-link-content {
    color: var(--bodyTextColorWhite);
    transition: color 0.3s;
  }
  body.dark-mode #RTsbs-952 .cs-text,
  body.dark-mode #RTsbsr-952 .cs-text,
  body.dark-mode #RTsbst-952 .cs-text {
    opacity: 0.8;
  }
  body.dark-mode #RTsbs-952 .cs-link:before,
  body.dark-mode #RTsbsr-952 .cs-link:before,
  body.dark-mode #RTsbst-952 .cs-link:before {
    background-color: var(--accent);
  }
  body.dark-mode #RTsbs-952 .cs-icon,
  body.dark-mode #RTsbsr-952 .cs-icon,
  body.dark-mode #RTsbst-952 .cs-icon {
    /* makes icons that are not black turn white */
    filter: grayscale(1) brightness(1000%);
  }
  body.dark-mode #RTsbs-952 .cs-graphic1,
  body.dark-mode #RTsbsr-952 .cs-graphic1,
  body.dark-mode #RTsbst-952 .cs-graphic1,
  body.dark-mode #RTsbs-952 .cs-graphic2,
  body.dark-mode #RTsbsr-952 .cs-graphic2,
  body.dark-mode #RTsbst-952 .cs-graphic2 {
    filter: brightness(50%);
  }
}
/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #RTsbsr-952 {
    background-color: #1a1a1a;
  }
  #RTsbsr-952 .cs-title,
  #RTsbsr-952 .cs-header,
  #RTsbsr-952 .cs-text,
  #RTsbsr-952 .cs-link-content {
    color: var(--bodyTextColorWhite);
  }
  #RTsbsr-952 .cs-text,
  #RTsbsr-952 .cs-link-content {
    opacity: 0.8;
  }
  #RTsbsr-952 .cs-link:before {
    background-color: #484848;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #RTsbsr-952 .cs-image-group {
    /* sends it to the right in the 2nd position */
    order: 2;
  }
  #RTsbsr-952 .cs-floater {
    right: auto;
    left: -3.125rem;
    transform: scaleX(-1);
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #RTsbsr-952 {
    background-color: rgba(0, 0, 0, 0.8);
  }
}
