---
title: 'Mountain Water on Tap'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/local.css" />
    <link rel="stylesheet" href="/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

   <!-- ============================================ -->
<!--                   Hero                       -->
<!-- ============================================ -->

<section id="hero-408">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title"><span class="cs-color">Not all filtration</span> is created equal</h2>
            <p class="cs-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.
            </p>
            <a href="" class="cs-button-solid">Purchase Today!</a>
           <!--  <a href="" class="cs-button-transparent">Our Services</a> -->
            <span class="cs-header">Trusted by:</span>
            <div class="cs-logo-group">
                <!--Logo 1-->
                <img class="cs-logo" src="https://csimg.nyc3.digitaloceanspaces.com/Hero/logo1.svg" alt="logo" width="113" height="31" decoding="async">
                <!--Logo 2-->
                <img class="cs-logo" src="https://csimg.nyc3.digitaloceanspaces.com/Hero/logo2.svg" alt="logo" width="113" height="40" decoding="async">
                <!--Logo 3-->
                <img class="cs-logo" src="https://csimg.nyc3.digitaloceanspaces.com/Hero/logo3.svg" alt="logo" width="113" height="30" decoding="async">
                <!--Logo 4-->
                <img class="cs-logo" src="https://csimg.nyc3.digitaloceanspaces.com/Hero/logo4.svg" alt="logo" width="113" height="37" decoding="async">
            </div>
        </div>
        <div class="cs-stat-group">
            <picture class="cs-background">
                <source media="(max-width: 600px)" srcset="/assets/images/waterfallcover.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/waterfallcover.webp">
                <img loading="lazy" decoding="async" src="/assets/images/waterfallcover.webp" alt="leaves" width="842" height="737" aria-hidden="true">
            </picture>
          <!--   <div class="cs-stat-box">
                <span class="cs-stat">
                    263
                    <span class="cs-desc">Happy Families</span>
                </span>
            </div>
            <div class="cs-stat-box">
                <span class="cs-stat">
                    5/5
                    <span class="cs-desc">Google Rating</span>
                </span>
            </div> -->
        </div>
    </div>
</section>
                                         


<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="RTsbs-952">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Long Left Image-->
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/Fullfrontfilter.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/Fullfrontfilter.webp">
                <img loading="lazy" decoding="async" src="/assets/images/Fullfrontfilter.webp" alt="Water filter" width="349" height="590">
            </picture>
            <!--Top right image-->
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/filtertopcloseup.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/filtertopcloseup.webp">
                <img loading="lazy" decoding="async" src="/assets/images/filtertopcloseup.webp" alt="hair salon" width="281" height="387">
            </picture>
            <!--Bottom right image-->
            <picture class="cs-picture cs-picture3">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/test.png">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/test.png">
                <img loading="lazy" decoding="async" src="/assets/images/test.png" alt="hair salon" width="281" height="280">
            </picture>
            <!--Seal-->
            <img class="cs-seal" loading="lazy" decoding="async" src="/assets/images/madeusa.webp" alt="seal" width="150" height="150">
        </div>
        <div class="cs-content">
            <span class="cs-topper">Water is the essence of LIFE</span>
            <h2 class="cs-title">Life Is More Beautiful With Pure Water</h2>
            <p class="cs-text">
                Optimizing the water in your home is not simply a process of taking out impurities or preventing hard water build up,
                rather a sophisticated balance of restoring nature thereby giving you mountain water on tap. Many companies offer low
                cost options focused on improving the taste, yet neglect the importance of addressing heavy metals, fluoride, and
                bacteria. Others blanket the market with costly salt-based softener systems that remove minerals, create waste, and are
                simply not necessary now that the technology from SimplyWater is available.
            </p>
            <p class="cs-text">
                SimplyWater is committed to a comprehensive approach to filtration, protection, and restoration. We have thought of
                every possible angle for your whole home water protection, so that you don’t have to spend hours researching on your
                own. We simply offer the best, most reliable, eco-friendly, powerful filtration system available on the market today in
                our h2opure system. H2opure utilizes the highest quality proprietary bled of carbons, minerals, and conditioner in a
                compact, single-unit system, making installation and maintenance seamless. We also offer the addition of revitalization
                through the River of Life or Biodynamizer technology! These systems have profound impact in structuring your water, so
                it mimics nature and the benefits of movement, magnetism, or frequencies. Look around our website to learn more or give
                us a call today!
            </p>
            
           <!--  <div class="cs-contact-group">
                <a class="cs-link" href="mailto:Info@health&wellness.com">
                    <picture class="cs-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/pin-hair.svg" alt="icon" width="24" height="24">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-header">Send A Message</span>
                        <span class="cs-link-content">Info@hairstyle.com</span>
                    </div>
                </a>
                <a class="cs-link" href="">
                    <picture class="cs-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mail-hair.svg" alt="icon" width="24" height="24">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-header">Visit Us At</span>
                        <span class="cs-link-content">123 Fake St, Highland, IN</span>
                    </div>
                </a>
            </div> -->
            <a href="/contact" class="cs-button-solid" aria-label="learn more about us">Purchase Now!</a>
        </div>
    </div>
    <!--Zen Leaf Group-->
    <img class="cs-floater" loading="lazy" decoding="async" src="/assets/images/water-removebg-preview.png" alt="hair tools" width="445" height="310">
</section>

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="RTsbsr-952">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Long Left Image-->
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/Fullfrontfilter.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/Fullfrontfilter.webp">
                <img loading="lazy" decoding="async" src="/assets/images/Fullfrontfilter.webp" alt="Water filter" width="349" height="590">
            </picture>
            <!--Top right image-->
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/filtertopcloseup.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/filtertopcloseup.webp">
                <img loading="lazy" decoding="async" src="/assets/images/filtertopcloseup.webp" alt="hair salon" width="281" height="387">
            </picture>
            <!--Bottom right image-->
            <picture class="cs-picture cs-picture3">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/h2opure.png">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/h2opure.png">
                <img loading="lazy" decoding="async" src="/assets/images/h2opure.png" alt="hair salon" width="281" height="280">
            </picture>
            <!--Seal-->
            <img class="cs-seal" loading="lazy" decoding="async" src="/assets/images/madeusa.webp" alt="seal" width="150" height="150">
        </div>
        <div class="cs-content">
            <span class="cs-topper">Water is the essence of LIFE</span>
            <h2 class="cs-title">Life Is More Beautiful With Pure Water</h2>
            <p class="cs-text">
                Optimizing the water in your home is not simply a process of taking out impurities or preventing hard water build up,
                rather a sophisticated balance of restoring nature thereby giving you mountain water on tap. Many companies offer low
                cost options focused on improving the taste, yet neglect the importance of addressing heavy metals, fluoride, and
                bacteria. Others blanket the market with costly salt-based softener systems that remove minerals, create waste, and are
                simply not necessary now that the technology from SimplyWater is available.
            </p>
            <p class="cs-text">
                SimplyWater is committed to a comprehensive approach to filtration, protection, and restoration. We have thought of
                every possible angle for your whole home water protection, so that you don’t have to spend hours researching on your
                own. We simply offer the best, most reliable, eco-friendly, powerful filtration system available on the market today in
                our h2opure system. H2opure utilizes the highest quality proprietary bled of carbons, minerals, and conditioner in a
                compact, single-unit system, making installation and maintenance seamless. We also offer the addition of revitalization
                through the River of Life or Biodynamizer technology! These systems have profound impact in structuring your water, so
                it mimics nature and the benefits of movement, magnetism, or frequencies. Look around our website to learn more or give
                us a call today!
            </p>
            
           <!--  <div class="cs-contact-group">
                <a class="cs-link" href="mailto:Info@health&wellness.com">
                    <picture class="cs-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/pin-hair.svg" alt="icon" width="24" height="24">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-header">Send A Message</span>
                        <span class="cs-link-content">Info@hairstyle.com</span>
                    </div>
                </a>
                <a class="cs-link" href="">
                    <picture class="cs-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mail-hair.svg" alt="icon" width="24" height="24">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-header">Visit Us At</span>
                        <span class="cs-link-content">123 Fake St, Highland, IN</span>
                    </div>
                </a>
            </div> -->
            <a href="/contact" class="cs-button-solid" aria-label="learn more about us">Purchase Now!</a>
        </div>
    </div>
    <!--Zen Leaf Group-->
    <img class="cs-floater" loading="lazy" decoding="async" src="/assets/images/water-removebg-preview.png" alt="hair tools" width="445" height="310">
</section>

<!-- ============================================ -->
<!--             Side By Side Triplet             -->
<!-- ============================================ -->

<section id="RTsbst-952">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Long Left Image-->
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/Fullfrontfilter.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/Fullfrontfilter.webp">
                <img loading="lazy" decoding="async" src="/assets/images/Fullfrontfilter.webp" alt="Water filter" width="349" height="590">
            </picture>
            <!--Top right image-->
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/filtertopcloseup.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/filtertopcloseup.webp">
                <img loading="lazy" decoding="async" src="/assets/images/filtertopcloseup.webp" alt="hair salon" width="281" height="387">
            </picture>
            <!--Bottom right image-->
            <picture class="cs-picture cs-picture3">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/h2opure.png">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/h2opure.png">
                <img loading="lazy" decoding="async" src="/assets/images/h2opure.png" alt="hair salon" width="281" height="280">
            </picture>
            <!--Seal-->
            <img class="cs-seal" loading="lazy" decoding="async" src="/assets/images/madeusa.webp" alt="seal" width="150" height="150">
        </div>
        <div class="cs-content">
            <span class="cs-topper">Water is the essence of LIFE</span>
            <h2 class="cs-title">Life Is More Beautiful With Pure Water</h2>
            <p class="cs-text">
                Optimizing the water in your home is not simply a process of taking out impurities or preventing hard water build up,
                rather a sophisticated balance of restoring nature thereby giving you mountain water on tap. Many companies offer low
                cost options focused on improving the taste, yet neglect the importance of addressing heavy metals, fluoride, and
                bacteria. Others blanket the market with costly salt-based softener systems that remove minerals, create waste, and are
                simply not necessary now that the technology from SimplyWater is available.
            </p>
            <p class="cs-text">
                SimplyWater is committed to a comprehensive approach to filtration, protection, and restoration. We have thought of
                every possible angle for your whole home water protection, so that you don’t have to spend hours researching on your
                own. We simply offer the best, most reliable, eco-friendly, powerful filtration system available on the market today in
                our h2opure system. H2opure utilizes the highest quality proprietary bled of carbons, minerals, and conditioner in a
                compact, single-unit system, making installation and maintenance seamless. We also offer the addition of revitalization
                through the River of Life or Biodynamizer technology! These systems have profound impact in structuring your water, so
                it mimics nature and the benefits of movement, magnetism, or frequencies. Look around our website to learn more or give
                us a call today!
            </p>
            
           <!--  <div class="cs-contact-group">
                <a class="cs-link" href="mailto:Info@health&wellness.com">
                    <picture class="cs-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/pin-hair.svg" alt="icon" width="24" height="24">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-header">Send A Message</span>
                        <span class="cs-link-content">Info@hairstyle.com</span>
                    </div>
                </a>
                <a class="cs-link" href="">
                    <picture class="cs-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mail-hair.svg" alt="icon" width="24" height="24">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-header">Visit Us At</span>
                        <span class="cs-link-content">123 Fake St, Highland, IN</span>
                    </div>
                </a>
            </div> -->
            <a href="/contact" class="cs-button-solid" aria-label="learn more about us">Purchase Now!</a>
        </div>
    </div>
    <!--Zen Leaf Group-->
    <img class="cs-floater" loading="lazy" decoding="async" src="/assets/images/water-removebg-preview.png" alt="hair tools" width="445" height="310">
</section>
                                








    <!-- ============================================ -->
    <!--                  Services                    -->
    <!-- ============================================ -->

    <!-- <section id="services" class="services"> -->
        <!-- Get Icons From flaticon.com -->
       <!--  <div class="card">
            <picture>
                <img
                aria-hidden="true"
                decoding="async"
                src="/assets/svgs/service1.svg"
                alt="appliance"
                width="48"
                height="48" />
            </picture>
            <h2>Service 1</h2>
            <p>Talk about the service with keywords people will be searching for it by. Keep it 1-2 sentences.</p>
        </div>
        <div class="card">
            <picture>
                <img
                aria-hidden="true"
                decoding="async"
                src="/assets/svgs/service2.svg"
                alt="appliance"
                width="48"
                height="48" />
            </picture>
            <h2>Service 2</h2>
            <p>Talk about the service with keywords people will be searching for it by. Keep it 1-2 sentences.</p>
        </div>
        <div class="card">
            <picture>
                <img
                aria-hidden="true"
                decoding="async"
                src="/assets/svgs/service3.svg"
                alt="appliance"
                width="48"
                height="48" />
            </picture>
            <h2>Service 3</h2>
            <p>Talk about the service with keywords people will be searching for it by. Keep it 1-2 sentences.</p>
        </div>
    </section> -->

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

<!--     <section id="sbs">
        <div class="cs-container"> -->
            <!-- Left Image Section -->
<!--             <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="cabinets" loading="lazy" width="400" height="563">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/construction-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/construction.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/construction.jpg" alt="house" loading="lazy" width="400" height="563">
                </picture>
            </div> -->
            <!-- Right Content Section-->
 <!--            <div class="cs-right">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">About Company Title</h2>
                <p class="cs-text">
                    In consequat tincidunt turpis sit amet imperdiet. Praesent Class officelan nonatoureanor mauris laoreet, iaculis libero quis. Curabitur et tempus eri consequat tincidunt turpis sit amet imperdiet. Praesent nonatourean olei aptent taciti sociosqu ad litora torquent per.
                </p>
                <p class="cs-text">
                    In consequat tincidunt turpis sit amet imperdiet. Praesent Class officelan nonatoureanor mauris laoreet, iaculis libero quis. Curabitur et tempus eri consequat tincidunt turpis sit amet imperdiet. Praesent nonatourean olei aptent taciti sociosqu ad litora torquent per.
                </p>
                <div class="cs-flex-group">
                    <p class="cs-flex-p">
                        In consequat tincidunt turpis sit amet imperdiet. Praesent Classei consequat tincidunt turpis sit amet imperdiet for mind.
                    </p>
                    <span class="cs-name">Justin Time</span>
                    <span class="cs-job">CEO-Founder</span>
                    <img 
                    class="cs-quote-icon"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg"
                    alt="gavel"
                    width="136"
                    height="77" />
                </div>
                <a href="/about" class="cs-button-solid">More About Us</a>
            </div>
        </div>
    </section> -->

    <!-- ============================================ -->
    <!--            Extra Content To Rank             -->
    <!-- ============================================ -->

   <!--  <section id="sbs-r">
        <div class="cs-container"> -->
            <!-- Left Image Section -->
           <!--  <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/construction-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/construction.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/construction.jpg" alt="house" loading="lazy" width="400" height="560">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="cabinets" loading="lazy" width="400" height="560">
                </picture>
            </div> -->
            <!-- Right Content Section-->
           <!--  <div class="cs-right">
                <span class="cs-topper">SEO Ranking</span>
                <h2 class="cs-title">Talk about a main service keyword</h2>
                <p class="cs-text">
                    In consequat tincidunt turpis sit amet imperdiet. Praesent Class officelan nonatoureanor mauris laoreet, iaculis libero quis. Curabitur et tempus eri consequat tincidunt turpis sit amet imperdiet. Praesent nonatourean olei aptent taciti sociosqu ad litora torquent per.
                </p>
                <p class="cs-text">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non tenetur, iure nihil ipsam qui atque commodi id voluptatem nesciunt, quis animi fuga cum doloribus! Eaque laboriosam, unde consectetur iure asperiores ullam. Consequuntur debitis a voluptatibus vitae optio autem explicabo quia neque est quas, in placeat. Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus modi laudantium voluptatibus rem libero error minus quia eligendi sapiente eos.
                </p>
                <a href="/blog" class="cs-button-solid">Read our Blog</a>
            </div>
        </div>
    </section>
 -->
    <!-- ============================================ -->
    <!--                   Gallery                    -->
    <!-- ============================================ -->
<!-- ============================================ -->
<!--                Meet The Team                 -->
<!-- ============================================ -->

<section id="blog-986">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">News & Articles</span>
                <h2 class="cs-title">Directly from The Latest News and Articles</h2>
            </div>
            <a href="" class="cs-button-solid">View All</a>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/plantwater.webp">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/plantwater.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/plantwater.webp" alt="plant" width="413" height="480">
                </picture>
                <div class="cs-info">
                   <!--  <span class="cs-date">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/calendar.svg" alt="stylist" width="20" height="20">
                        07 Sep, 2022
                    </span> -->
                    <h3 class="cs-h3">How Water Affects your Plants and Action Steps to Take</h3>
                    <span class="cs-desc">
                        How pure water affects the growth of ones house plants and how to help them flourish in your home...
                    </span>
                    <a href="" class="cs-link">Read More</a>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/puppy.webp">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/puppy.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/puppy.webp" alt="puppy" width="413" height="480">
                </picture>
                <div class="cs-info">
                   <!--  <span class="cs-date">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/calendar.svg" alt="stylist" width="20" height="20">
                        07 Sep, 2022
                    </span> -->
                    <h3 class="cs-h3">The Science Behind Healthy Water, Healthy Pets</h3>
                    <span class="cs-desc">
                        How to hydrate your pets without causing damage, and tips on maintaining a healthy diet for the...
                    </span>
                    <a href="" class="cs-link">Read More</a>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/coffeepour.webp">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/coffeepour.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/coffeepour.webp" alt="coffee pour" width="413" height="480">
                </picture>
                <div class="cs-info">
                   <!--  <span class="cs-date">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/calendar.svg" alt="stylist" width="20" height="20">
                        07 Sep, 2022
                    </span> -->
                    <h3 class="cs-h3">How H2opure water delivers a powerful shift in ones coffee</h3>
                    <span class="cs-desc">
                        How truly pure water can bring your coffee flavor to the next level, and tips on...
                    </span>
                    <a href="" class="cs-link">Read More</a>
                </div>
            </li>
        </ul>
    </div>
</section>
                             

    <!-- ============================================ -->
    <!--                   Reviews                    -->
    <!-- ============================================ -->

 <!--    <section id="reviews">
        <div class="cs-container">
            <span class="cs-topper">Our Reviews</span>
            <h2 class="cs-title">Words From Our Customers</h2>
            <p class="cs-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit dolor volutpat porttitor sagittis nunc nisl. Sagittis sit pellentesque gravida viverra. Leo ut sed euismod tortor risus et. Ornare non neque, leo, ornare. Lorem ipsum dolor sit amet.
            </p>
            <ul class="cs-card-group"> -->
                <!-- Review 1 -->
              <!--   <li class="cs-item">
                    <img
                    class="cs-item-img"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile5.png"
                    alt="profile picture"
                    width="80"
                    height="80" />
                    <p class="cs-item-p">
                        Dictum dolor, nullam morbi sem in auctor proin. Consequat dolor habitasse nam sed tempor. Viverra magna pharetra rhoncus, nec sed ullamcorper lectus et. Auctor velit diam fermentum consequat. Feugiat viverra massa urna, volutpat orci imperdiet eget eget.
                    </p>
                    <span class="cs-reviewer">
                        Jon Doe
                        <span class="cs-desc">Homeowner</span>
                    </span>
                    <img
                    class="cs-item-stars"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
                    alt="stars"
                    width="96"
                    height="16" />
                </li> -->
                <!-- Review 2 -->
               <!--  <li class="cs-item">
                    <img
                    class="cs-item-img"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile-4.png"
                    alt="profile picture"
                    width="80"
                    height="80" />
                    <p class="cs-item-p">
                        Dictum dolor, nullam morbi sem in auctor proin. Consequat dolor habitasse nam sed tempor. Viverra magna pharetra rhoncus, nec sed ullamcorper lectus et. Auctor velit diam fermentum consequat. Feugiat viverra massa urna, volutpat orci imperdiet eget eget.
                    </p>
                    <span class="cs-reviewer">
                        Jane Doe
                        <span class="cs-desc">Homeowner</span>
                    </span>
                    <img
                    class="cs-item-stars"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
                    alt="stars"
                    width="96"
                    height="16" />
                </li>
            </ul>
            <a aria-label="read more reviews" href="/reviews" class="cs-button-solid">Our Reviews</a>
        </div>
    </section> -->

   {% include 'components/cta.html' %}
 {% endblock %}